[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
statsmodels = "*"
scipy = "*"
patsy = ">=0.5.1"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
ipython = "*"

[requires]
python_version = "3.6"

[scripts]
test = "python -m unittest discover --start-directory ./mcm/test --pattern test_*.py"
lint = "flake8"
format = "autopep8 --in-place --recursive . --aggressive --aggressive"
format-diff = "autopep8 --diff --recursive . --aggressive --aggressive"
